
    <div class="main-content">
          {{>header}}
          <form >
                <input type="text" placeholder="Address"> <button>Search</button>
                <p id='msg-1'></p>
                <p id='msg-2'></p>
          </form>
    </div>
    {{>footer}}

